link(rel='stylesheet', href='/lib/bootstrap/dist/css/bootstrap.min.css')
link(rel="stylesheet", type="text/css", href="/lib/angular-bootstrap-lightbox/dist/angular-bootstrap-lightbox.min.css")
link(rel="stylesheet", type="text/css", href="/lib/slick-carousel/slick/slick.css")
link(rel="stylesheet", type="text/css", href="/lib/slick-carousel/slick/slick-theme.css")
link(rel='stylesheet', href='/styles/main.css')

