body {
  background: url("../assets/comics.jpg");
}

.main-content {
  color: white;
}

.top_section {
  background-color: black;
  padding: 2% 5% 5%;
  margin-top: 5%;
}

.carousel_wrapper {
  position:relative;
}

.caption {
  position: absolute;
  bottom: 2%;
  left: 5%;
  z-index: 50;
  color: white;
  text-shadow: 0 5px 5px rgba(0,0,0,.8);
}

.cardImg {
  border: 3px solid white;
}

.modalBody {
  display: flex;
  flex-direction: row;
}

.imgContainer {
  width: 50%;
}

.textContainer {
  width: 40%;
}

.play_btn {
  visibility: hidden;
  margin-top: 9%;
  padding: 7%;
}

.hand_container {
  background-color: black;
  padding: 2% 5% 5%;
  margin-top: 3%;
  width: 100%;
  .teamImg {
    width: 130px;
    height: auto;
  }
}

.cardsInHand {
  display:inline-block;
  position:relative;
  .delete_btn {
    position:absolute;
    top:0;
    right:0;
  }
}


////////////// GAME SCREEN /////////////////////
.section {
  background-color: black;
  padding: 2% 5% 2%;
  margin-top: 5%;
}

.gameHandContainer {
  display: flex;
  flex-direction: row;
  .smallImg {
    width: 120px;
    height: auto;
  }
}

.your_move {
  transition: all 2s;
  transform: translate(400%);
}

.fadeOutRight {
  opacity: .3;
  transition: all 2s;
  transform: translate3d(1000%, 0, 0);
}

.alert-container {
  margin: 5%;
  background-color: black
  .alert-style {
    font-size: 2.0em;
    text-align: center;
  }
}

.alert-btn {
  margin-left: -500;
}
