body {
  background: url("../assets/comics.jpg");
}

.main-content {
  color: white;
}

.top_section {
  background-color: black;
  padding: 2% 5% 5%;
  margin-top: 5%;
}

.carousel_wrapper {
  position:relative;
}

.caption {
  position: absolute;
  bottom: 2%;
  left: 5%;
  z-index: 50;
  color: white;
  text-shadow: 0 5px 5px rgba(0,0,0,.8);
}

.cardImg {
  border: 3px solid white;
}

.modalBody {
  display: flex;
  flex-direction: row;
}

.imgContainer {
  width: 50%;
}

.textContainer {
  width: 40%;
}

.play_btn {
  visibility: hidden;
  margin-top: 10%;
}

.hand_container {
  background-color: black;
  padding: 2% 5% 5%;
  margin-top: 3%;
  width: 100%;
  .teamImg {
    width: 130px;
    height: auto;
  }
}

.cardsInHand {
  display:inline-block;
  position:relative;
  .delete_btn {
    position:absolute;
    top:0;
    right:0;
  }
}

.gameHandContainer {
  display: flex;
  flex-direction: row;
}






