doctype html
html(ng-app='MarvelWar')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')

    title #{title}
    include ./views/partials/_stylesheets
  body
    .app(ng-view)


    include ./views/partials/_scripts
    include ./views/partials/_footer
