script(src='lib/jquery/dist/jquery.min.js')
script(src='lib/angular/angular.min.js')
script(src='lib/angular-route/angular-route.min.js')
script(src='lib/slick-carousel/slick/slick.js')
script(src='lib/angular-slick-carousel/dist/angular-slick.min.js')
script(src="lib/angular-bootstrap/ui-bootstrap-tpls.min.js")
script(src='js/main.js')
script(src='js/run.js')
//- script(src='js/routes.js')
script(src='js/factory.js')
script(src='js/cardFactory.js')
script(src='js/controller.js')
script(src='js/ModalInstanceCtrl.js')
script(src='js/GameCtrl.js')
