div.main-content(class="col-md-12 col-lg-12")
  div.top_section
    h1 Assemble your team
    p Select 5 members for your team. Click image.
    div
      slick(settings="slickConfig", init-onload=true, data="card.data")
        div.carousel_wrapper(ng-repeat="c in card.data")
          a(ng-click="open(c)")
            img.cardImg(ng-src="{{c.image}}" alt="character")
            h4.caption {{c.name}}
  div.container.hand_container
    div.current_hand(class="col-md-9 col-lg-9")
      h2 Your Current Team:
      div.cardsInHand(ng-repeat="t in team")
        img.thumbnail.teamImg(ng-src="{{t.image}}" alt="character", class="col-sm-2 col-xs-4")
        button.btn.btn-danger.delete_btn(ng-click="removeCard($index)") X
    div.play_button(class="col-md-offset-2 col-lg-offset-2")
      a(href="/#/game", class="btn btn-danger btn-lg play_btn") Start Game
