div.main-content.container
  div.section
    h1 Commence Attacks
    p Click on one of your players to get started.

    div
    h3 Computer Score: {{game.compScore}}
      div.gameHandContainer
        div.compHand(ng-repeat="c in game.data")
          img.thumbnail.smallImg.compHand(ng-src="{{c.image}}", alt="character", ng-class="{comp_move: game.compCard[$index], fadeOutRight: game.removeCompCard[$index]}")

    div.alert-container
      {{game.alerts.msg}}
      a(href="/#/", class="btn btn-danger smplay_btn") Play Again

    div.player-container
      h3 Your score: {{game.score}}
        div.gameHandContainer
          div.yourHand(ng-repeat="g in game.getMyTeam")
            img.thumbnail.smallImg.playerHand(ng-src="{{g.image}}", alt="character", ng-click="game.isDisabled || game.startGame(g)", ng-class="{your_move: game.selectedCard[$index], fadeOutRight: game.removeCard[$index]}")

    div.play_button(class="col-md-offset-2 col-lg-offset-2")
