div.main-content.container
  div.section
    h1 Commence Attacks

    div
    h3 Computer Score: {{game.compScore}}
      div.gameHandContainer
        div.compHand(ng-repeat="c in game.data")
          img.thumbnail.smallImg.compHand(ng-src="{{c.image}}", alt="character", ng-class="{your_move: game.compCard[$index], fadeOutRight: game.removeCompCard[$index]}")

    div.alert-container
      alert.alert-style(ng-if="show", dismiss-on-timeout="2000", close="game.closeAlert($index)") {{ game.alerts.msg }}

    div
    h3 Your score: {{game.score}}
      div.gameHandContainer
        div.yourHand(ng-repeat="g in game.getMyTeam")
          img.thumbnail.smallImg.playerHand(ng-src="{{g.image}}", alt="character", ng-disabled="isDisabled", ng-click="game.startGame(g)", ng-class="{your_move: game.selectedCard[$index], fadeOutRight: game.removeCard[$index]}")

    div.play_button(class="col-md-offset-2 col-lg-offset-2")
      a(href="/#/", class="btn btn-danger btn-lg play_btn") Play Again
