.modal-header#modal
  h2 {{oneCard.name}}
.modal-body
  img.oneImg(ng-src="{{oneCard.image}}" alt="onecharacter")
  p {{oneCard.description}}
.modal-footer
  button.btn.btn-danger(ng-click="ok()") Add
  button.btn.btn-default(ng-click="cancel()") Cancel
